# SPDX-License-Identifier: CC0-1.0
[Desktop Entry]
Type=Application
Name=Warcraft Recorder (Development)
Comment=Automatically record and review World of Warcraft gameplay
Exec=warcraft-recorder
Icon=io.github.JohanWes.WarcraftRecorder.Devel
Terminal=false
Categories=AudioVideo;Video;
StartupNotify=true
StartupWMClass=io.github.JohanWes.WarcraftRecorder.Devel
